
# Junk that could exist anywhere:
.DS_Store
*.swp
*.tmp
.*.gz
*.patch

# Temporary files created by Eclipse
.tmp*

# Editor junk
*.project
/.pydevproject
/.settings/
/.settings.xml
/.settings.xml.old
/.idea/

# Build Files
/build/
/release/
*.graphml
